<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.pinguo.messer">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name="us.pinguo.messer.home.HomePermissionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:taskAffinity="us.pinguo.messer"
            android:theme="@style/MesserTranslucent"/>

        <activity
            android:name="us.pinguo.messer.db.DbActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:taskAffinity="us.pinguo.messer"
            android:theme="@style/MesserTheme"/>

        <activity
            android:name=".local.LocalFileBrowserActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:taskAffinity="us.pinguo.messer"
            android:theme="@style/MesserTheme" />
        <activity
            android:name=".local.LocalFileReadActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:taskAffinity="us.pinguo.messer"
            android:theme="@style/MesserTheme" />
        <activity
            android:name=".image.ImageBrowserActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:taskAffinity="us.pinguo.messer"
            android:theme="@style/MesserTheme" />
    </application>
</manifest>


